@import-normalize;

html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  min-height: 100%;
}

.app {
}

.step svg {
  width: 30px;
}
